/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
body {
	line-height: 1;
}

{
	margin: 0;
	padding: 0;
}

body {
	color: #111;
	background: #7B3AB9;
    font-family: 'Abel', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

@media screen and (max-width: 768px) { /* Get rid of the photo for mobile for legibility */
    body {
	   background: #7B3AB9;
    }
    
}

h1 {
    display: inline-block;
	font-family: 'Space Mono', monospace;
	font-size: 4em;
    padding: 0 0.5em;
    transition: all .15s;
    font-weight: 400;
    text-align: center;
    margin: 1em 0;
}

h2, h3 {
	font-size: 2em;
	font-family: 'Space Mono', monospace;
    font-weight: 700;
    margin: 3em 0 0.5em;
}

p {
	margin-bottom: 0.6em;
    line-height: 1.6em;
    font-size: 2em;
}

a {
    font-weight: 600;
    text-decoration: none;
    transition: all .15s;
    color: #111;
    padding: 0 1px;
    border-bottom: 2px solid #26E6B1;
}

::-moz-selection {
	background: #BBB;
}

::selection {
	background: #BBB;
}

/*
a:hover, a.hover {
    text-decoration: none;
    background: none;
    color: grey;
    cursor: pointer;
    cursor: hand;
    background: #ffff00;
    border-bottom: none!important; 
}
*/

.page-wrap {
	margin: 0 3em;
    text-align: center;
}

.container {
	width: 100%;
    margin: 2em 0 1em;
}

.topbox {
	margin: 0;
}

.end {
	padding-bottom: 7em;
}

/* <Styles for mobile> */

@media screen and (max-width: 1000px) {

    .container {
        width: 100%;
    }

    .page-wrap {
        margin: 0 2em;
    }

}

@media screen and (max-width: 600px) {

    h1 {
	   font-size: 2em;
    }

    .hide-mobile {
        display: none;
    }

    p {
        font-size: 1.5em;
    }
    
    h2 {
        font-size: 1.5em;
    }
    
}

/* </Styles for mobile> */

/*
@media screen and (min-width: 500px) { 

body {
	padding: 0 0 0 2em;
}

} */