/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	padding-left: 10px;
	margin-bottom: 20px;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

{
	margin: 0;
	padding: 0;
}

body {
	color: #111;
	background: #DDDDDB;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
}

@media screen and (max-width: 768px) { /* Get rid of the photo for mobile for legibility */
    body {
	background: #DDDDDB;
}
}

h1 {
	font-size: 4em;
	font-family: 'Merriweather', serif;
	line-height: 1; /* Makes it look ... less weird on mobile */
    font-weight: 800;
    margin: 1em 0 0 0;
    letter-spacing: -3px;
}

h2 {
	font-size: 2em;
	font-family: 'Merriweather', serif;
    font-weight: 600;
    margin-top: 1em;
}

h3 {
	font-size: 1.5em;
	font-family: 'Merriweather', serif;
    font-weight: 400;
    margin-top: 0.2em;
}

p {
	margin-bottom: 0.6em;
}

a {
    font-weight: 400;
    text-decoration: none;
    color: black;
    padding: 1px 2px;
}

p a {
	font-weight: 600;
}

::-moz-selection {
	background: #AAAAA7;
}

::selection {
	background: #AAAAA7;
}

a:hover, a.hover {
    text-decoration: none;
    background: none;
    color: grey;
    cursor: pointer;
    cursor: hand;
}

.page-wrap {
	margin: 0 3em;
}

.container {
	max-width: 1096px;
	width: 60%;
}

.topbox {
	width: 80%;
	margin: 0;
}

.topbox p {
	font-weight: 700;
	margin: -0.5em 0 0 1.3em;
}

.about {
	margin: 2em 0 1em;
}

.explanation {
	font-size: 90%;
	max-width: 60em;
	padding: 5px 5px 5px 0px;
	margin: 5px 0;
	font-family: 'Merriweather', serif;
	display: block;
	z-index: 9999;
	overflow: auto;
}

.notes {
	font-size: 50%;
	padding: 0 0 0 5px;
}

.highlight {
	font-weight: 400;
}

li {
	list-style: none;
}

li:before {
	content: '» ';
}

.contact {
	padding-bottom: 3em;
}

.hidden {
	display: none;
}

.issuuembed, iframe {
	padding: 10px 0;
}

/* <Styles for mobile> */

@media screen and (max-width: 1000px) {

.container {
	width: 100%;
}

.page-wrap {
	margin: 0 2em;
}

.explanation {
	max-width: 100%;
	position: relative;
	left: 0;
	margin-top: 0;
	margin: 1em 0;
}

}

@media screen and (max-width: 500px) {

h1 {
	font-size: 2.5em;
}

}

/* </Styles for mobile> */

/*
@media screen and (min-width: 500px) { 

body {
	padding: 0 0 0 2em;
}

} */